<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width">

	<title>{ifset title}{include title|stripHtml} | {/ifset}Nette Web</title>

	<link href="{$basePath}/css/style.css" rel="stylesheet">
	<link rel="preconnect" href="https://fonts.gstatic.com"> 
	<link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;500&display=swap" rel="stylesheet">
</head>

<body>
	<div class="navbar">
		<ul class="navig">
			<li><a class="animation" n:href="Homepage:">DOMŮ</a></li>
			{if $user->isLoggedIn()}
				<li class="right"><a class="animation" n:href="Sign:out">ODHLÁSIT</a></li>
			{else}
				<li class="right"><a class="animation"n:href="Sign:in">PŘIHLÁSIT</a></li>
				<li class="right"><a class="animation register"n:href="Register:new">ZAREGISTROVAT SE</a></li>
			{/if}
		</ul>
	</div>
		<div n:foreach="$flashes as $flash" n:class="flash, $flash->type">{$flash->message}</div>
	{include content}


	{block scripts}
	<script src="https://nette.github.io/resources/js/3/netteForms.min.js"></script>
	{/block}
</body>
</html>
