{block content}

<div class="flexbox">
    <a n:href="username" class="animation" n:if="$user->isLoggedIn()"=>Změnit uživatelské jméno</a>
    <a n:href="password" class="animation" n:if="$user->isLoggedIn()">Změnit heslo</a>
</div>